<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录 - {$Think.config.system.login_head}</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	{css href="/static/layui/css/layui.css" /}
	{css href="/static/admin/css/login.css" /}
	{js href="/static/layui/layui.js" /}
	{js href="/static/admin/js/admin.js" /}
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.login-bg{background:url(/static/admin/images/bg.png) no-repeat center;background-repeat:no-repeat;background-size:cover;min-height:100vh;background-size:100% 100%;}
	</style>
</head>
<body class="login-bg">
<div class="login-wrapper layui-anim">
	<div class="login-head">
		<div class="title">
			<div class="logo-text"> {$Think.config.system.login_head}</div>
		</div>
		<span class="bg1"></span>
		<span class="bg2"></span>
	</div>
	<form method="post" class="layui-form">
		<div class="layui-form-item layui-input-icon-group">
			<i class="layui-icon layui-icon-username"></i>
			<input type="text" name="username" value="" id="LAY-user-login-username" lay-verify="required" placeholder="请输入用户名" class="layui-input">
		</div>
		<div class="layui-form-item layui-input-icon-group">
			<i class="layui-icon layui-icon-password"></i>
			<input type="password" name="password" value="" lay-verify="required" placeholder="请输入密码" class="layui-input">
		</div>
		<div class="layui-form-item layui-input-icon-group login-captcha-group">
			<i class="layui-icon layui-icon-auz"></i>
			<input type="text" name="captcha" lay-verify="required" placeholder="图形验证码" class="layui-input login-vercode" maxlength="8">
			<!--<img src="{:url('login/Verify')}" class="login-captcha" title="点击刷新" onClick="this.src=this.src+'?'+Math.random()" class="layadmin-user-login-codeimg">-->
			<img src="{:url('login/getCaptchaSrc')}" data-act="{:url('login/getCaptchaSrc')}" class="login-captcha" title="点击刷新" onClick="this.src=this.src+'?'+Math.random()" class="layadmin-user-login-codeimg">
		</div>
		<div class="layui-form-item layui-btn-item">
			<button type="button" class="layui-btn layui-btn-fluid" lay-filter="login" lay-submit="">立 即 登 录</button>
		</div>
		<div class="layui-form-item">
			<a href="javascript:" class="forget-password">忘记密码？</a>
		</div>
		<div class="layui-form-item"></div>
	</form>
</div>
<div class="login-copyright">
	{$Think.config.system.copyright|raw}
</div>
<script>
	var $ = layui.jquery;
	layui.form.on('submit(login)', function (data) {
		adm.httpPost('{:url("login/index")}', data.field).then(function (res) {
		}, function (ret) {
			const self = $('.login-captcha'), src = self.data('act');
			self.attr('src', src + '?d=' + Math.random());
		});
	});
</script>
</body>
</html>