{extend name="common/_layout" /}
{block name="main"}
<style>
	/* 用户列表开始 */
	.chats-caller{background:#fff;padding:10px 0;}
	.chats-caller em{font-style:normal;}
	.chats-caller .caller-fl{float:left;}
	.chats-caller .caller-seach{position:relative;padding-bottom:10px;}
	.chats-caller .caller-seach .caller-icon{font-size:18px;position:absolute;top:9px;}
	.chats-caller .caller-seach-icon{left:6px;}
	.chats-caller .caller-pl32{padding:0 32px;}
	.chats-caller .caller-tab{margin:0;}
	.chats-caller .caller-contar{padding-bottom:20px;}
	.chats-caller .caller-contar .caller-item{padding:10px 5px;overflow:hidden;border-bottom:1px solid #e0e0e0;}
	.chats-caller .caller-contar .caller-item:hover{background-color:rgba(236, 236, 236, 0.96)}
	.chats-caller .caller-contar .caller-item .caller-main{margin-left:20px;}
	.chats-caller .caller-contar .caller-item .caller-main p{line-height:100%;padding:8px 0;}
	.chats-caller .caller-contar .caller-item .caller-main p:first-child{padding-top:0;}
	.chats-caller .caller-contar .caller-item .caller-main em{margin-left:5px;font-size:12px;color:#8d8d8d}
	.chats-caller .caller-contar .caller-item .caller-main .caller-adds i{padding-right:5px;margin:0;}
	.chats-caller .caller-contar .caller-item .caller-main .caller-adds{font-size:12px;color:#8d8d8d}
	.chats-caller .caller-contar .caller-iconset i{margin:0 5px;}
	.chats-caller .caller-contar .caller-iconset i:first-child{margin-left:0;}
	.chats-caller .caller-contar .caller-img{width:50px;height:50px;border-radius:100%;}

	.chats .chats-header{height:48px;line-height:48px;background-color:#eee;}
	.chats .chats-header img{width:40px;height:auto;margin-right:10px;float:left;margin-top:4px;border-radius:100%;}

	.chats .layui-card-body{box-sizing:content-box;background-color:#FFF;padding:1px;}
	.chats .chat-content{overflow-y:auto;/*width:560px;*/width:100%;height:377px}
	.chats .content-right-top{border-bottom:1px solid #DDE5ED;width:100%;font-size:14px;height:40px;color:#28334B;text-align:center;line-height:40px;letter-spacing:0;}
	.chats .company-content{word-wrap:break-word;padding:10px;overflow-y:auto;}
	.chats .mysay p{text-align:right}
	.chats .heisay p{text-align:left;height:40px;display:table-cell;vertical-align:bottom;}
	.chats .mysay span{max-width:98%;padding:5px 5px 5px 10px;float:right;background-color:rgb(31, 140, 232);color:#fff;border-radius:2px;}
	.chats .heisay span{max-width:98%;padding:5px 10px 5px 5px;float:left;background-color:#EFF3F6;border-radius:2px;}

	.pc-visitor-footer{height:160px;width:100%;}
	.pc-visitor-footer .function-bar{position:relative;background:#F8FAFC;height:40px;border-top:1px solid #E9EEF2;border-bottom:1px solid #E9EEF2;padding-left:10px;}
	.pc-visitor-footer .function-bar .svgWrap, .pc-visitor-footer .function-bar .svgWrap svg, .pc-visitor-footer .function-bar .svgWrap svg:hover .svgColor{fill:#1F8CEB;}
\	.pc-visitor-footer .function-bar .talk-function-bar{height:100%;width:100%;padding-top:8px;}
	.pc-visitor-footer  textarea{height:120px;padding:15px;font-size:14px;color:#28334B;letter-spacing:0px;line-height:24px;border:none;outline:none;resize:none;}
	.submit-btn-wrap{float:right;margin-right:10px;width:80px;height:30px;background-color:#1e89e6;border-radius:2px;color:#fff;cursor:pointer;display:inline-block;text-align:center;line-height:30px;vertical-align:middle;}

</style>

<div class="main layui-row layui-col-space10">
	<div class="layui-col-md3">
		<div class="layui-card">
			<div class="layui-fluid">
				<div class="chats-caller">
					<form class="layui-form caller-seach" action="">
						<i class="layui-icon layui-icon-search caller-seach-icon caller-icon"></i>
						<input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input caller-pl32">
					</form>
					<div class="layui-tab layui-tab-brief caller-tab" lay-filter="docDemoTabBrief">
						<ul class="layui-tab-title">
							<li class="layui-this">所有联系人</li>
							<li class="">历史</li>
						</ul>
					</div>
					<div class="caller-contar">
						<div class="caller-item">
							
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							
							</div>
						
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							
							</div>
						
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							
							</div>
						
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							
							</div>
						
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							
							</div>
						
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
						<div class="caller-item">
							<img src="/static/chat/img/0.png" alt="" class="caller-img caller-fl">
							<div class="caller-main caller-fl">
								<p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
								<p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-col-md9 chats">
		<div class="layui-card">
			<div class="layui-card-header chats-header">
				<img src="/static/chat/img/0.png" alt="头像">
				<p class="company-name font16">ThinkGW 客服</p>
			</div>
			<div class="layui-card-body ">
				<div class="layui-row">
					<div class="layui-col-md9" style="border-right:1px solid #E9EEF2">
						<div class="chat-content">
						</div>
						<div class="pc-visitor-footer">
							<form>
								<div class="function-bar">
									<div class="talk-function-bar">
										<div class="svgWrap">
										</div>
									</div>
								</div>
								<div class="inputArea">
									<textarea class=" layui-input" id="textarea" name="content" placeholder="请输入文字"></textarea>
								</div>
							</form>
							<span class="send-btn submit-btn-wrap">发送</span>
						</div>
					</div>
					<div class="layui-col-md3">
						<div class="content-right-top font14">关于我们</div>
						<div class="company-content font12">
							<p><span>多客服系统</span></p>
							<p>
								<span>平台是基于ThinkPHP6+workerman开发的在线客服平台，全方位满足企业所需，提升经营效率，降低运营成本。</span>
							</p>
							<p style=""><br><span>服务时间：</span></p>
							<p>
								<span style="color: rgb(255, 0, 0);">8:00-24:00</span><span style="">，其他时间可给我们留言</span>
							</p>
							<p><br><span style="">400 热线：</span></p>
							<p><span style="color: rgb(255, 0, 0);">400-000-0000</span></p>
							<p><span style="color: rgb(255, 0, 0);">对话交谈中请勿关闭此窗口！</span></p>
							<p><br></p>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script>
</script>
{/block}